# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.pytest_cache/
.coverage
.venv
venv/
ENV/

# Project Specific (Generated artifacts)
analysis/
palette/*.npy
palette/*.csv
palette/*.png
maps_indexed/
maps_raw/*
!maps_raw/.gitkeep

# OS specific
.DS_Store
Thumbs.db
